.header {
  background-size: contain;
  background-color: rgba(201, 186, 158, 0.4);
  width: 100%;
  background: #ffffff;
}

.first-image {
  width: 100%;
  opacity: 0.7;
}

/* logo properties */
.logo {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}
#ellipse {
  border-radius: 50%;
  background-color: #c4c4c4;
  padding: 2.7rem 2rem;
  text-align-last: center;
}

/*navigation bar*/

.navbar {
  position: absolute;
  width: 100%;
  top: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

nav {
  padding: 2rem;
  background: #e5e5e5;
}

/* Navbar links */
.navbar a {
  float: center;
  text-align: center;
  padding: 12px;
  margin: 12px;
  color: black;
  text-decoration: none;
  font-size: normal;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.navbar a:hover {
  background-color: #666666;
  color: #ffffff;
}

.navbar a.active {
  background-color: #666666;
  color: #ffffff;
}

/* Vector */

/* .vector-left {
  position: fixed;
  left: 15%;
  right: 100%;
  top: 15.36%;
  bottom: 81.02%;
  background: #2f2f32;
  width: 10%;
}

.vector-right {
  position: fixed;
  left: 87.07%;
  right: 10.91%;
  top: 18.99%;
  bottom: 77.38%;
  background: #2f2f32;
  transform: matrix(-1, -0.01, 0, -1, 0, 0);
  width: 100px;
  -ms-transform-origin-x: 5px;
} */

/* about us properties */
.container-fluid {
  max-width: 100%;
  height: fit-content;
  /* left: 0px;
  top: 584px; */
  background: rgba(178, 162, 129, 0.4);
}

.study-bugger {
  width: 100%;
  /* height: 102.35px;
  left: 896px;
  top: 681.7px; */
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 88px;
  color: #000000;
}
.study-bug p {
  align-content: justify;
  left: 897px;
  top: 843.37px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: left;
}

.btn-primary {
  width: 150px;
  /* height: 50px;
  left: 683px;
  top: 92px; */
  margin-top: 0.5px;
  margin-bottom: 20px;
  text-align: center;
  background: #595656;
  border-color: #595656;
}
.btn-primary:hover {
  background-color: #333333;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 50px;
}

.customer {
  font-family: Mulish;
  font-style: normal;
  font-weight: bolder;
  font-size: 70px;
  line-height: 88px;
  text-align: center;
  color: #000000;
}

.review {
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
}

#study {
  position: absolute;
  width: 308.31px;
  height: 191.66px;
  left: 606px;
  top: 1608.52px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  text-align: justify;
  color: #000000;
}

/* footer properties */
.footer {
  width: 100%;
  background: #595656;
  color: #ffffff;
}

.sitemap a {
  color: #ffffff;
  text-decoration: none;
}

.sitemap a:hover {
  background-color: #333333;
}

.icons a {
  background-color: #ffffff;
  color: #000000;
  width: 70px;
  height: 70.13px;
  left: 1444px;
  top: 2492.79px;
}

input[type="submit"] {
  background-color: #444141;
  color: #ffffff;
  align-items: center;
  height: 100%;
}

.copyright {
  width: 100%;
  background: #333333;
  color: #ffffff;
  padding-top: 10px;
  text-align: center;
}

/* login properties */
.contain {
  width: 100%;
  height: auto;
  left: 0px;
  top: 268px;
}

/* .scott {
  width: 800px;
  height: 1528px;
  left: 50px;
  top: 1px;
  margin: 0;
  
  padding: 0px;
} */

.section {
  width: 100%;
  height: 100%;
  background: rgba(178, 162, 129, 0.5);
  border: 1px solid #000000;
  box-sizing: contain;
  padding-left: 25px;
}

form {
  font-family: Mulish;
  font-size: 40px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 75%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  background-color: #e5e5e5;
}
input[type="checkbox"] {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

/* Set a style for all buttons */
button {
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.get {
  width: 100%;
  padding: 15px 8px;
  margin: 25px 0 12px 0;
}

/*sign up page properties */

.float-end {
  offset-distance: 3rem;
}

.signup-button {
  margin: 25px 0 12px 0;
}

#button-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
/* 
.signup-icons {
  position: absolute;
  width: 439px;
  height: 100.4px;
  left: 394px;
  top: 586.56px;
} */

/* Account page */

.change a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  line-height: 5rem;
  margin-top: 10px;
}

.account {
  width: 100%;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: #000000;
  text-decoration: underline;
  text-align: center;
}
.details {
  font-family: Mulish;
  font-style: normal;
  font-size: 40px;
  color: #000000;
}

.location {
  margin-right: 0.9rem;
  justify-content: space-between;
}

/* .float-start {
  margin-right: 3rem;
}
.float-end {
  margin-right: 5rem; 
}*/

.sectional {
  width: 50%;
  height: 100%;
  background: rgba(178, 162, 129, 0.5);
  /* border: 1px solid #000000; */
  box-sizing: contain;
  padding-left: 25px;
}

.section-account {
  max-width: 100%;
  height: 100%;
  background: rgba(178, 162, 129, 0.5);
  border: 1px solid #c4c4c4;
  box-sizing: contain;
  padding-left: 25px;
}

/* contact us page properties */
input[type="fullname"],
input[type="address"],
input[type="number"] {
  width: 75%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

input[type="message"] {
  width: 75%;
  padding: 50px 30px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  background-color: #c4c4c4;
}
.info {
  display: flexbox;
  border: 5px solid rgba(37, 37, 37, 0.5);
  box-sizing: border-box;
  font-family: Mulish;
  font-style: bold;
  font-size: 40px;
  color: #000000;
}
